body {
    background: #eeeeee;
    font-family: 'Titillium Web', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web', sans-serif;
}
nav.main, nav.main .top-bar, nav.main .top-bar ul {
    background: #000000;
}
nav.main {
    box-shadow: 0px 0px 5px #666;
}
nav.main .menu a {
    color: #88c1d5;
}
nav.main .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
    border-color: #88c1d5 transparent transparent;
}
#logo {
    padding: 0;
}
#logo img {
    max-height: 40px;
}
section.center {
    margin-bottom: 40px;
}
section.center article.product-wrapper a h1{
    color: #333;
    font-size: 2em;
    padding: 0 1%;
}
section.center article.product-wrapper h1{
    text-align: center;
}
section.center article.product-wrapper {
    margin: 0 auto;
    padding: 35px 0;
}
section.center article.product-wrapper .image-outer img {
    width: 100%;
}
section.center article.product-wrapper .product-inner {
    display: flex;
    flex-direction: row;
    background: #ffffff;
    box-shadow: 0px 1px 3px #999;
}
section.center article.product-wrapper .vertical-progress {
    width: 1em;
    background: #88c1d5;
    float: left;
    display: flex;
    flex-direction: column;
    position: relative;
}
section.center article.product-wrapper .vertical-progress .progress-inner {
    background: blue;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    bottom: 0;
}
section.center article.product-wrapper .product-content {
    float: left;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.live-data #leader {
    text-align: center;
    color: #999;
}
.live-data #phase {
    text-align: center;
    font-weight: 700;
    color: #f90;
}
.buy-button {
    margin-top: 0.5em;
}
.buy-button a {
    margin: 0;
}
.buy-button .shipping {
    float: right;
    color: #fff;
    font-weight: 600;
}
.buy-button .btn-price {
    float: left;
    color: #fff;
    font-weight: 600;
}
a .row.keep-in {
    color: #333333;
    font-weight: 600;
}
.row.keep-in {
    padding: 0;
    margin: 0;
}
.text-right {
    text-align: right;
}
#old-price {
    text-decoration: line-through;
}
#discount {
    color: #449d44;
}
body .success.button:hover {
    background: #3e8f3e;
}
body .success.button {
    background: #449d44;
}
.title-404 {
    padding: 2em;
    text-align: center;
    font-weight: 700;
}
.admin-login {
    background: #ffffff;
    padding: 0.5em;
    margin-top: 2em;
    box-shadow: 0px 0px 3px #ccc;
}

/** ADMIN STYLES */
.side-menu-inner, .page-content-wrapper {
    background: #fff;
    margin-top: 1em;
    box-shadow: 0px 0px 3px #ccc;
}

.page-content-wrapper {
    padding: 1em;
}

article.page {
    background: #fcfcfc;
    padding: 2em;
    margin-top: 2em;
    box-shadow: 0px 0px 3px #ccc;
}
article.page h1 {
    text-align: center;
    margin-bottom: 1em;
}
.button.facebook {
    background: #3b5998;
    font-weight: 700;

}
.button.google {
    background: #db3236;
    font-weight: 700;
}
.button.facebook, .button.google {
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}
.button.facebook:hover, .button.google:hover {
    opacity: 0.8;
}
.button.facebook i, .button.google i {
    margin-right: 5px;
}
.thumb-wrapper {
    padding: 0 10% 10% 10%;
    text-align: center;
}
.thumb-wrapper img {
    width: 100%;
    border: 5px solid #ccc;
    cursor: pointer;
}
.thumb-wrapper.active img {
    border-color: #0b97c4;
}
.modal-content-inner {
    padding: 10px;
    border: 1px solid #eee;
}
.modal-content-inner.description {
    margin-top: 10px;
}
.loader-icon {
    text-align: center;
    margin: 2em 0 1em 0;
    color: #333;
}
.active-image-wrapper, .image-outer {
    text-align: center;
}